---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  TWITTER_PROFILE_URL,
  LINKEDIN_PROFILE_URL,
  GITHUB_PROFILE_URL,
} from "../config";

const posts = (await Astro.glob("./blog/*.md")).sort(
  (a: any, b: any) =>
    new Date(a.frontmatter.pubDate).valueOf() -
    new Date(b.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hello!</h1>
      <p>
        I'm Sam, a student from the West Midlands, UK, currently studying Computer
        Science at the University of Warwick. In my spare time, I enjoy building and
        <a href={GITHUB_PROFILE_URL}>contributing to cool tech</a>.
      </p>
      <p>
        My main interest lies in Computer Science and its overlap with the
        natural sciences and mathematics. CS can be used as a gateway to solving
        challenging problems in science, using tools such as Machine Learning.
      </p>
      <p>
        Recently, I have been exploring Machine Learning in Python while working
        on a Raspberry Pi weather station, which feeds its data to an ML model
        so it can predict tomorrow morning's weather. In the past, I have built
        projects with Python, JavaScript and C#. I'm also currently learning
        Rust.
        <!-- <em> -->
        <!--   Sometimes, I write about these projects in blog posts on this website! -->
        <!-- </em> -->
      </p>
      <!-- <p>Have a look at this short list of my most recent blog posts:</p> -->
      <!-- <ul> -->
      <!--   { -->
      <!--     posts -->
      <!--       .slice(-5) -->
      <!--       .reverse() -->
      <!--       .map((post) => ( -->
      <!--         <li> -->
      <!--           <div class="post"> -->
      <!--             <div> -->
      <!--               <a href={post.url}>{post.frontmatter.title}</a> -->
      <!--             </div> -->
      <!--             <code class="post-date hidden-mobile"> -->
      <!--               <time datetime={post.frontmatter.pubDate}> -->
      <!--                 {new Date(post.frontmatter.pubDate).toLocaleDateString( -->
      <!--                   "en-gb", -->
      <!--                   { year: "numeric", month: "short", day: "numeric" } -->
      <!--                 )} -->
      <!--               </time> -->
      <!--             </code> -->
      <!--           </div> -->
      <!--           {post.frontmatter.description && ( -->
      <!--             <div class="post-description nowrap"> -->
      <!--               {post.frontmatter.description} -->
      <!--             </div> -->
      <!--           )} -->
      <!--         </li> -->
      <!--       )) -->
      <!--   } -->
      <!-- </ul> -->
      <!-- <p> -->
      <!--   You can browse all posts in the -->
      <!--   <a href="/blog">archive</a>, or <a href="#coming-soon">sort by tag</a>. -->
      <!-- </p> -->
      <p>
        If you would like to contact me, please send me a message
        through <a href={LINKEDIN_PROFILE_URL}>LinkedIn</a>. 
        <!-- I do not have a public email address at the moment, but you -->
        <!-- will find it here when I have one! -->
      </p>
    </main>
    <Footer />
    <style>
      .post {
        display: flex;
        flex-flow: row nowrap;
        gap: 4px;
        margin: 2px 0;
      }
      .post-description {
        color: #8b9bb4;
        opacity: 70;
        font-style: italic;
        margin: 2px 0;
      }
      .post-date {
        margin: 0 2px 0 auto;
      }
    </style>
  </body>
</html>
