---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";

import {
  SITE_TITLE,
  TWITTER_PROFILE_URL,
  GITHUB_PROFILE_URL,
  STACKOVERFLOW_PROFILE_URL,
  LINKEDIN_PROFILE_URL,
} from "../config";
---

<header>
  <a href="/" data-astro-prefetch>
    <Image
      src="/logos/sheep-transparent.svg"
      alt="Sheep Icon"
      format="svg"
      loading="eager"
      width={128}
      height={128}
    />
    <h2>
      {SITE_TITLE}
    </h2>
  </a>
  <nav>
    <!-- <HeaderLink href="/">Home</HeaderLink> -->
    <!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
    <!-- <HeaderLink href="/about">About</HeaderLink> -->

    <HeaderLink href={TWITTER_PROFILE_URL} target="_blank" aria-label="Twitter">
      <i class="fa-brands fa-twitter fa-fw fa-lg"></i>
    </HeaderLink>
    <HeaderLink href={GITHUB_PROFILE_URL} target="_blank" aria-label="GitHub">
      <i class="fa-brands fa-github fa-fw fa-lg"></i>
    </HeaderLink>
    <HeaderLink
      href={LINKEDIN_PROFILE_URL}
      target="_blank"
      aria-label="LinkedIn"
    >
      <i class="fa-brands fa-linkedin fa-fw fa-lg"></i>
    </HeaderLink>
    <HeaderLink
      href={STACKOVERFLOW_PROFILE_URL}
      target="_blank"
      aria-label="Stack Overflow"
    >
      <i class="fa-brands fa-stack-overflow fa-fw fa-lg"></i>
    </HeaderLink>
    <HeaderLink href="/rss.xml" target="_blank" aria-label="RSS Feed">
      <i class="fa-solid fa-rss fa-fw fa-lg"></i>
    </HeaderLink>
  </nav>
</header>
<style>
  .icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0;
    margin-bottom: 0.5em;
  }
</style>
