---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;

const { minutesRead } = Astro.props.frontmatter;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      #post-info {
        font-size: 0.75em;
        margin-top: 0.5em;
      }
      #title {
        font-size: 2em;
        margin: 0.2em 0;
      }
      #reading-time {
        color: #a1a1aa;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <Image
              width={720}
              height={360}
              src={heroImage}
              alt=""
              loading="eager"
            />
          )
        }
        <div id="post-info">
          {minutesRead && <div id="reading-time">{minutesRead}</div>}
          <h1 id="title">{title}</h1>
          {
            pubDate && (
              <span>
                Published <time>{new Date(pubDate).toUTCString()}</time>
              </span>
            )
          }
          {
            updatedDate && (
              <span>
                &CenterDot; Last updated
                <time>{new Date(updatedDate).toUTCString()}</time>
              </span>
            )
          }
        </div>
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
